.main{
  margin-top: 100px;
}

button, select, form{
  margin: 5px;
}

.action-buttons{
  width: 119px;
}

.eastwest{
  margin: 10px 18px 5px 18px;
}

.rest-form{
  margin-top: 10px;
  padding: 15px;
  background-color:#e5eeee;
}

.warning{
  color: red;
}

.interactables{
  font-weight: bold
}

.friendly-npc{
  color: green;
}

.hostile-npc{
  color: red;
}

.useable-items{
  color: rgb(233, 214, 47);
}